<div class='chiller-theme'>
  <div class="navbar">
    <div class='navbar-item'>
      <button class="sidebar-toggler navbar-toggler" type="button">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class='navbar-item brand'>Youtube</div>
    <app-search-bar class="navbar-item search"></app-search-bar>
    <div class='navbar-item user'>
        <button class="fa fa-user-circle" aria-hidden="true"></button>
    </div>
  </div>
</div>

<!-- <app-sidebar></app-sidebar> -->
