.chiller-theme.sidebar-search input.search-menu,
.chiller-theme.sidebar-search .input-group-text {
  border-color: #2b2b2b !important;
  box-shadow: none !important;
  background: #2b2b2b !important;
}
