.sidebar-search input.search-menu,
.sidebar-search .input-group-text {
  border-color: #e9dede;
  box-shadow: none;
}

.sidebar-search .input-group-text:hover,
.sidebar-search .input-group-text:focus,
.sidebar-search input.search-menu:focus+span>i {
  color: azure;
}
