:host {
  $sm-device-gap-top : 90px;
  $lg-device-gap-top : 56px;
  $sidebar-z-index : 100;
  $sidebar-overlay-z-index : 99;

  .app-sidebar-container {
    font-size: 1rem;
    width: 100vw;
    display: grid;
    position: absolute;
    grid-auto-rows: minmax(1em,auto);
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1;
    .sidebar-container-item.sidebar {
      grid-row: 1;
      grid-column: 1/4;
      z-index: #{$sidebar-z-index};
    }

    .sidebar-container-item.overlay {
      grid-row: 1;
      grid-column: 1/13;
      background: #2b2a2a;
      z-index: #{$sidebar-overlay-z-index};
    }

    &.opened {
      display: grid;
    }

    &.closed {
      display: none;
    }
  }


  @media screen and (max-width: 768px){
    .app-sidebar-container {
      top: $sm-device-gap-top !important;
      height: calc(100vh - #{$sm-device-gap-top}) !important;
      .sidebar-container-item.sidebar {
        grid-row: 1;
        grid-column: 1/8;
      }

      .sidebar-container-item.overlay {
        grid-row: 1;
        grid-column: 1/13;
      }
    }
  }

  @media screen and (min-width: 769px){
    .app-sidebar-container {
      top: $lg-device-gap-top !important;
      height: calc(100vh - #{$lg-device-gap-top})!important;
    }
  }

}
