:host {
  $sm-device-gap-top: 90px;
  $lg-device-gap-top: 56px;
  $yt-main-z-index: 99;
  $sidebar-z-index: 100;

  .yt-page-container {
    font-size: 1rem;
    width: 100vw;
    display: grid;
    position: absolute;
    grid-auto-rows: minmax(1em, auto);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
    .sidebar {
      grid-row: 1;
      grid-column: 1/13;
      z-index: #{$sidebar-z-index};
    }
    .main {
      grid-row: 1;
      grid-column: 1/13;
      background: #3d3c3c;
      z-index: #{$yt-main-z-index};
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-gap: 5px;
      overflow: scroll;
    }
  }

  @media screen and (max-width: 768px) {
    .yt-page-container {
      top: $sm-device-gap-top !important;
      height: calc(100vh - #{$sm-device-gap-top}) !important;
    }
  }

  @media screen and (min-width: 769px) {
    .yt-page-container {
      top: $lg-device-gap-top !important;
      height: calc(100vh - #{$lg-device-gap-top}) !important;
    }
  }
}
