/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme.sidebar-container,
.chiller-theme.navbar,
.chiller-theme > div , button {
  background: #1d1d1d !important;
  color: #bdbdbd !important;
}

.chiller-theme .sidebar-footer {
  background: #2b2b2b !important;
  box-shadow: 0px -1px 5px #131212 !important;
  border-top: 1px solid #3a3a3a !important;
}

.chiller-theme .sidebar-footer>a:first-child {
  border-left: none !important;
}

.chiller-theme .sidebar-footer>a:last-child {
  border-right: none !important;
}

.chiller-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #636363 !important;
}

.chiller-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent !important;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1d1d1d;
}

.page-wrapper .theme.ice-theme {
  background: #2b3a42;
}

.page-wrapper .theme.light-theme {
  background: #f1f0ed;
}

.page-wrapper .theme.cool-theme {
  background: #38373d;
}

.page-wrapper .theme.green-theme {
  background: #2c5e2e;
}

.page-wrapper .theme.spicy-theme {
  background: #8e2800;
}

.page-wrapper .theme.purple-theme {
  background: #372049;
}
