// component css goes here
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sidebar-menu .header span {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 20px 5px 20px;
  display: inline-block;
  color: var(--yt-menu-header-fg-color) ;
}

.sidebar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-menu ul li a i {
  background: var(--yt-sidebar-search-border-color) ;
}

.sidebar-menu ul li a i{
  color: var(--yt-sidebar-menu-decor-bg-color) ;
}

.sidebar-menu ul li a span {
  color: var(--yt-sidebar-menu-fg-color);
  padding-left: 20px;
}

.sidebar-menu ul li a:hover span {
  color: var(--navbar-item-text-focus-color);
}

.sidebar-menu ul li a:hover i {
  color: var(--yt-sidebar-menu-decor-fg-color);
}

