<div class='chiller-theme sidebar-container'>
  <div class='sidebar-item header'>
    <yt-user></yt-user>
  </div>
  <yt-search-bar class="sidebar-item search"></yt-search-bar>
  <div class='sidebar-item menu'>
    <ul>
      <li class="header-menu">
        <span>General</span>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-shopping-cart"></i>
          <span>E-commerce</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-shopping-cart"></i>
          <span>E-commerce</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-shopping-cart"></i>
          <span>E-commerce</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-shopping-cart"></i>
          <span>E-commerce</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-area-chart"></i>
          <span>Charts</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-globe"></i>
          <span>Maps</span>
        </a>
      </li>
      <li class="header-menu">
        <span>Extra</span>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-calendar"></i>
          <span>Calendar</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-folder"></i>
          <span>Examples</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-book"></i>
          <span>Documentation</span>
        </a>
      </li>
    </ul>
    <!-- sidebar-menu  -->
  </div>
</div>
