// component css goes here
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

:host {
  $sidebar-z-index: 100;
  $sidebar-overlay-z-index: 99;
  overflow-x: hidden;
  background: #1d1d1d;
  .hide {
    display: none;
  }
  .show {
    display: block;
  }

  .sidebar-container {
    display: grid;
    width: 100vw;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
    background: lightgray;

    .sidebar {
      grid-row: 1;
      grid-column: 1/5;
      @include mobile {
        grid-column: 1/9;
      }
      z-index: #{$sidebar-z-index};
      display: grid;
      grid-template-rows: repeat(12, 1fr);
      grid-template-columns: 1;
      padding: 10px;
      overflow-y: scroll;
      align-items: center;
      grid-gap: 10px;
      .header {
        grid-row: 1/2;
      }

      .search {
        grid-row: 2/3;
        border-top: 1px solid #2b2b2b;
        border-bottom: 1px solid #2b2b2b;
      }
    }

    .overlay {
      grid-row: 1;
      grid-column: 1/13;
      z-index: #{$sidebar-overlay-z-index};
      background: #292828 !important; //TODO - fix important bug
    }
  }
}
