.chiller-theme.sidebar-container .sidebar-header .user-info .user-role,
.chiller-theme.sidebar-container .sidebar-header .user-info .user-status,
.chiller-theme.sidebar-container input.search-menu,
.chiller-theme.sidebar-container .input-group-text,
.chiller-theme.sidebar-container .sidebar-brand>a,
.chiller-theme.sidebar-container .sidebar-item.menu ul li a,
.chiller-theme .sidebar-footer>a {
  color: #bdbdbd !important;
}

.chiller-theme.sidebar-container .sidebar-item.menu ul li:hover>a,
.chiller-theme.sidebar-container .sidebar-header .user-info,
.chiller-theme.sidebar-container .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
  color: #ffffff !important;
}

.chiller-theme.sidebar-container .sidebar-item.menu ul li a i {
  background: #2b2b2b !important;
}

.chiller-theme.sidebar-container .sidebar-item.menu .header-menu span {
  color: #6c7b88 !important;
}

.chiller-theme.sidebar-container .sidebar-item.menu ul li a i{
  color: #c24444 !important;
}

.chiller-theme.sidebar-container .sidebar-item.menu ul li a span {
  color: #afaaaa !important;
}

.chiller-theme.sidebar-container .sidebar-item.menu ul li a:hover span {
  color: azure !important;
}

.chiller-theme.sidebar-container .sidebar-item.menu ul li a:hover i {
  color: #ee7e76 !important;
}
