@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

:host {
  $sidebar-z-index: 100;
  $sidebar-overlay-z-index: 99;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0);
  .hide {
    display: none !important;
  }

  .sidebar-container {
    display: grid;
    width: auto;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: rgba(0, 0, 0, 0) !important;

    .sidebar {
      z-index: #{$sidebar-z-index};
      display: grid;
      grid-template-rows: repeat(12, 1fr);
      grid-template-columns: 1;
      padding: 10px;
      overflow-y: scroll;
      align-items: center;
      grid-gap: 10px;
      background: #1d1d1d !important; //must fix all !important bugs
      .header {
        grid-row: 1/2;
      }

      .search {
        grid-row: 2/3;
        border-top: 1px solid #2b2b2b;
        border-bottom: 1px solid #2b2b2b;
      }
    }
  }
}
